<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Pipay</title>
</head>
<body>
<div class="container">

    <div class="row pt-3 pb-3 pl-5 pr-5">
        <div class="col-sm-12">
            <img src="/ka_pipay.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>

    <form th:action="${url}" method="post">
        <p align="center" th:text="'Amount: '+ ${amount}"/>
        <input type="hidden" name="mid" th:value="${mid}"/>
        <input type="hidden" name="lang" th:value="${lang}"/>
        <input type="hidden" name="orderid" th:value="${orderid}"/>
        <input type="hidden" name="orderAmount" th:value="${amount}"/>
        <input type="hidden" name="currency" th:value="${currency}"/>
        <input type="hidden" name="sid" th:value="${sid}"/>
        <input type="hidden" name="did" th:value="${did}"/>
        <input type="hidden" name="orderDate" th:value="${orderDate}"/>
        <input type="hidden" name="payMethod" th:value="${payMethod}"/>
        <input type="hidden" name="trType" th:value="${trType}"/>
        <input type="hidden" name="confirmURL" th:value="${confirmURL}"/>
        <input type="hidden" name="cancelURL" th:value="${cancelURL}"/>
        <input type="hidden" name="description" value="Extra information"/>
        <input type="hidden" name="digest" th:value="${digest}"/>
        <div class="row pt-3 pb-3 pl-5 pr-5">
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-success">
                    <span class="text-light">Confirm</span>
                </button>
            </div>
        </div>
    </form>

</div>
</body>
</html>