<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Wing</title>
</head>
<body>
<div class="container">

  <div class="row pt-3 pb-3 pl-5 pr-5">
    <div class="col-sm-12">
      <img src="/ka_wing.png" class="img-fluid" alt="Responsive image">
    </div>
  </div>

  <form th:action="${url}" method="post">
    <p align="center" th:text="'Amount: '+ ${amount}"/>
    <input type="hidden" name="sandbox" th:value="${sandbox}"/>
    <input type="hidden" name="amount" th:value="${amount}"/>
    <input type="hidden" name="username" th:value="${username}"/>
    <input type="hidden" name="rest_api_key" th:value="${rest_api_key}"/>
    <input type="hidden" name="return_url" th:value="${return_url}"/>
    <input type="hidden" name="bill_till_rbtn" th:value="${bill_till_rbtn}"/>
    <input type="hidden" name="bill_till_number" th:value="${bill_till_number}"/>
    <input type="hidden" name="default_wing" th:value="${default_wing}"/>
    <input type="hidden" name="remark" th:value="${remark}"/>
    <div class="row pt-3 pb-3 pl-5 pr-5">
      <div class="col-sm-12 text-center">
        <button type="submit" class="btn btn-success">
          <span class="text-light">Confirm</span>
        </button>
      </div>
    </div>
  </form>

</div>
</body>
</html>